{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right">
    <div class="card my-4">
        <h5 class="card-header">About Me</h5>
        <div class="card-body">
            <p class="card-text">
                An optimistic and curious individual, I thrive in collaborative group environments, working alongside others to achieve shared goals. With unwavering dedication, I consistently put forth my best effort to deliver high-quality results. Adaptable by nature, I embrace change and quickly adjust to new circumstances. Combining my creative thinking skills with a positive mindset, I approach challenges with enthusiasm, seeking opportunities for personal and professional growth. Always eager to learn, I actively seek new knowledge and experiences to fuel my continuous development.
            </p>
        </div>
    </div>
</div>


{% endblock sidebar %}