# Ignore virtual environment folders
venv/
env/
.env/

# Ignore database files
db.sqlite3

# Python byte code
__pycache__/

# Ignore own settings file
settings_local.py

# Log files
*.log

# Compiled Python files
*.pyc

# Ignore project-specific settings files
local_settings.py

# IDE-specific files
.vscode/
.idea/
.pycharm/

# Database migrations
*/migrations/

# User uploads
media/
